.btn{
    display: inline-block;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    text-align: center;
    font-size: .915rem;
    transition: all .3s linear;
    &-blue{
        color: $white;
        background: $mainBlue;
    }
    &:hover{
        background-color: $btnHoverBlue;
        
    }
}