.large-hero{
    position: relative;
    &__title{
        font-size: 2.15rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing:  .5px;
        color: $steelBlue;
    }
    &__text-content{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        &__strip-title{
            padding: 1.25rem 2.5rem;
            border-radius: 0.375rem 0.375rem 0 0;
            background-color: $mainBlue;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 900;
            color: $white;
            letter-spacing: 1px;
            font-size: .85rem;
            margin-bottom: 0;
        }
        &__text{
            background-color: $white;
            width: 50%;
            padding: 3.125rem 2.5rem;
            border-radius: 0 6px 6px 6px;
        }
    }
    &__subtitle{
        font-size: 1.75rem;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .5px;
        margin-top: 0;
        margin-bottom: .625rem;
        color: $steelBlue;
    }
    &__feature-list{
        list-style: circle;
        margin-left: -1.3rem;
        color: $grey;
        
        &__item{
            line-height: 1.5;
            margin-bottom: .625rem;
        }
    }
}


